/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 5px;
  }
  
  body {
    font-size: 18px;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 20px;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      padding: 0 5px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media (max-width: 600px) {
    body { background-color: rgb(189, 135, 255);
    }
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img-container {
        width: 100px;
        flex-grow: 1;
    }
    .captionimg {
        text-align: center;
        font-size: 15px;
    }
  }

  